# Carpetas de compilación
/build/
/.idea/
/.gradle/
captures/

# Archivos de configuración locales
local.properties

# Archivos generados por Android Studio
*.iml
*.apk
*.ap_
*.dex

# Archivos de registro
*.log

# Otros archivos ignorables
*.hprof
*.orig
*.class
*.jar
*.war
*.ear
*.swp
*~.nib
*~.bak
.DS_Store
